.clients-accordion {

    padding-top: 60px;

    .title {    
        font-size: 3em;
        letter-spacing: -1px;
        position: relative;
        display: inline;
        padding-left: 20px;
        padding-bottom: 30px;

        span.accent {
            letter-spacing: 0px;
        }

    }

}