#contact-throne {
    margin: 20vh 0;

    .text-wrap {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 60px;
        position: relative;
        z-index: 2;
        margin: 40px 0;
    }

    .line {

        p {
            font-size: 72px;
            letter-spacing: -2px;
            word-spacing: 1px;
            line-height: 0;
            text-align: center;
            white-space: nowrap;
            text-transform: lowercase;
            
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            gap: 24px;
        }

        span.accent {
            letter-spacing: -1px;
            line-height: 0.1;
            font-family: var(--migra);
            display: block;
        }

        img {
            width: 100%;
            transform: rotateX(180deg);
        }
        .svg-wrap {
            width: 100px;
            height: 30px;
            display: flex;
            align-items: center;
            position: relative;
            top: -9px;
            transform: rotateY(180deg);
        }
    }


    @media screen and (max-width: 767px) {

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
        position: relative;

        .text-wrap {
            display: grid;
            grid-template-rows: repeat(3, 33.33%);
            grid-gap: 24px;
            max-width: 100vw;
        }
        .line p {
            text-transform: lowercase;
            font-size: 10vw;
            letter-spacing: -2px;
            word-spacing: 0px;
            line-height: 0;
            text-align: center;
            white-space: nowrap;
            gap: 6px;
        }
        .line span.accent {
            font-family: var(--migra);
            font-size: 10vw;
            letter-spacing: -1px;
            display: inline-block;
        }

        .line img {
            max-width: 60px;
        }
    }
}